@charset "UTF-8";

.po{
	position: relative;	
}

.fix{
	height: 600px;
	background-color: #CCEEFF;
}
.table{
	padding-top: 20px;
}

.table tr th{
	padding: 0 95px;
}

.po .writeBtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 70px;
	height: 30px;
}

