@charset "UTF-8";

.fix {
	height: 600px;
	background-color: #CCEEFF;
	position: relative;
}

.fix .btn{
	position: absolute;
	left: 50%;
	bottom: 20px;
}

.fix .btn .b{
	width: 70px;
	height: 30px;
}
