@charset "UTF-8";

.write_feature{
	height: 600px;
	background-color: #CCEEFF;
	position: relative;
}

.write_feature .table{
	position: absolute;
	left: 30%;
}

.write_feature .table .titleSize{
	font-size: 30px;
	padding: 15px 0;
}

.write_feature .btn-group{
	position: absolute;
	left: 50%;
	top: 45%;
}