@charset "UTF-8";

.join-position{
	background-color: #CCEEFF;
	text-align: center;
	position: relative;
	height: 500px;
}
.join-position h1{
	padding: 20px 0;
}

.join-position .indent{
	position: absolute;
	left: 30%;
	border: 1px solid #c0c0c0;
}

.join-position .indent tr td{
	padding: 5px 40px;
}

.join-position .button{
	position: absolute;
	left: 43%;
	top: 60%;
}

.join-position .button .next {
	margin-right: 15px;
}