@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #000;
}

.inner{
	max-width: 950px;
	margin: 0 auto;
}

.head_feature{
	height: 80px;	
}

.head_feature h1{
	margin-top: 40px;	
}

.head_feature .menu_top{
	position: relative;
}

.head_feature .menu_top .header_position{
	position: absolute;
	right: 0;
	top: -40px;
}

.head_feature .menu_top .header_position li{
	float: left;
	padding: 15px;
}

.head_feature .menu_top .header_position li a:hover{
	color: #5858FA;
}

.menu-bottom{
	height: 40px;	
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	position: relative;
	background-color: #CCEEFF;
}

.menu-bottom .bottom_position{
	padding: 10px 0; 
	position: absolute;
	left: 0;
}

.menu-bottom .bottom_position li{
	float: left;
	/*padding: 0 42px;*/
}

.menu-bottom .bottom_position li a{
	padding: 10px 42px;
}

.menu-bottom .bottom_position li a:hover{
	background-color: #0101DF;
	color: #FFFFFF;
}
